* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

input {
  outline-color: rgb(216, 225, 225);
}
