.black {
  background-color: black;
  &-container {
    display: flex;
    gap: 88px;
    .black-content {
      padding-top: 82px;
      img {
        max-width: 246px;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      &-title {
        color: #fff;
        font-family: "SF Pro Display 500";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        line-height: normal;
      }
      &-desc {
        color: #fff;
        font-family: "SF Pro Display 500";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 16px 0 24px 0;
      }
      .hero-btn {
        color: #fff;
        font-family: "SF Pro Display 500";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        width: 160px;
        height: 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--prime, #0071e4);
        border: none;
        &:hover {
          background: var(--light-prime, #2a93fd);
        }
        &:focus {
          background-color: $prime-active;
        }
      }
    }
  }
}
