header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 4444;
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .nav {
      max-width: 1200px;
      width: 100%;
      padding: 16px 0;

      &__location {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
          display: flex;
          .nav__location-p {
            color: var(--1, #100e0e);
            font-family: "SF Pro Display 400";
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
          }
          .form {
            .nav__location-select {
              color: $prime;
              font-family: "SF Pro Display 400";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              outline: none;
              border: none;
            }
          }
        }
        &-right {
          display: flex;
          gap: 8px;
          align-items: center;
        }
      }
      &__catalog {
        max-width: 1200px;
        width: 100%;
        height: 94px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__logo {
          margin-right: 36px;
        }
        .nav__list {
          display: flex;
          align-items: center;
          gap: 20px;
          &-item {
            color: var(--1, #100e0e);
            font-family: "SF Pro Display 400";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 25px;
            display: flex;
            justify-content: center;
            &:hover {
              box-sizing: border-box;
              color: $prime;
              cursor: pointer;
              border-bottom: 2px solid $prime;
            }
          }
          .aksiya {
            border-radius: 8px;
            background: #fdefbf;
            padding: 2px 6px;
            &:hover {
              box-sizing: border-box;
              color: #000000;
              cursor: pointer;
              border-bottom: 0px solid #ffffff;
            }
          }
        }
        &-tel {
          display: flex;
          flex-direction: column;
          align-items: end;
          .tels {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 15px;

            a {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .recall {
            color: $prime;
            font-family: "SF Pro Display 400";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      .third-nav {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-button {
          font-family: "SF Pro Display 400";
          padding: 16px 26px;
          background: $prime;
          border-radius: 16px;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          color: #ffffff;
        }
        .search {
          position: relative;
          font-family: "SF Pro Display 400";
        }
        &-search {
          display: flex;
          width: 594px;
          height: 56px;
          background: #ffffff;
          border: 1px solid #1c75d5;
          border-radius: 8px;
          padding: 16px 60px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          &:focus {
            outline: 6px solid #d9ebf9;
            box-shadow: #d9ebf9;
            color: #000000;
          }
        }
        .input-search {
          position: absolute;
          z-index: 1111;
          top: 30%;
          left: 4%;
        }
        &-icons {
          display: flex;
          align-items: center;
          gap: 24px;
        }
        &-shop {
          font-family: "SF Pro Display 400";
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 16px 32px;
          gap: 8px;
          color: #ffffff;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          background-color: #52d116;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .fourth-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        max-width: 12000px;
        width: 100%;
        height: 80px;
        .first-phone {
          display: flex;
          gap: 16px;
          align-items: center;
          &:hover svg > path {
            cursor: pointer;
            fill: $prime;
          }
          &-title {
            color: var(--1, #100e0e);
            font-family: "SF Pro Display 400";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          &:hover .first-phone-title {
            cursor: pointer;
            color: $prime;
          }
        }
        .reklama {
          position: relative;
          max-width: 280px;
          width: 100%;
          height: 64px;
          border-radius: 8px;
          background: linear-gradient(90deg, #000 22.19%, #5e556b 100%);
          img {
            margin-left: 5px;
            border-radius: 8px;
          }
          &-title {
            position: absolute;
            top: 30%;
            z-index: 1111;
            color: #ffffff;
            left: 25%;
            font-family: "SF Pro Display 400";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .ass {
            position: absolute;
            top: 25%;
            z-index: 1111;
            right: 5%;
          }
        }
      }
    }
    .tablet-nav {
      display: none;
    }
    .mobile-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 1189px) {
  header {
    .container {
      .nav {
        max-width: 1189px;
        width: 100%;
        padding: 4px 0;
        &__location {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-left {
            display: flex;
            display: none;
            .nav__location-p {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-weight: 400;
              font-size: 16px;
              font-style: normal;
              line-height: normal;
            }
            .form {
              .nav__location-select {
                color: $prime;
                font-family: "SF Pro Display 400";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                outline: none;
                border: none;
              }
            }
          }
          &-right {
            display: flex;
            gap: 8px;
            align-items: center;
            display: none;
          }
        }
        &__catalog {
          max-width: 1200px;
          width: 100%;
          height: 94px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;
          .nav__logo {
            margin-right: 36px;
          }
          .nav__list {
            display: flex;
            align-items: center;
            gap: 20px;
            &-item {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              height: 25px;
              display: flex;
              justify-content: center;
              &:hover {
                box-sizing: border-box;
                color: $prime;
                cursor: pointer;
                border-bottom: 2px solid $prime;
              }
            }
            .aksiya {
              border-radius: 8px;
              background: #fdefbf;
              padding: 2px 6px;
              &:hover {
                box-sizing: border-box;
                color: #000000;
                cursor: pointer;
                border-bottom: 0px solid #ffffff;
              }
            }
          }
          &-tel {
            display: flex;
            flex-direction: column;
            align-items: end;
            .tels {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-top: 15px;

              a {
                color: var(--1, #100e0e);
                font-family: "SF Pro Display 400";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
            .recall {
              color: $prime;
              font-family: "SF Pro Display 400";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .third-nav {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;

          &-button {
            font-family: "SF Pro Display 400";
            padding: 16px 26px;
            background: $prime;
            border-radius: 16px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            color: #ffffff;
          }
          .search {
            position: relative;
            font-family: "SF Pro Display 400";
          }
          &-search {
            display: flex;
            width: 594px;
            height: 56px;
            background: #ffffff;
            border: 1px solid #1c75d5;
            border-radius: 8px;
            padding: 16px 60px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            &:focus {
              outline: 6px solid #d9ebf9;
              box-shadow: #d9ebf9;
              color: #000000;
            }
          }
          .input-search {
            position: absolute;
            z-index: 1111;
            top: 30%;
            left: 4%;
          }
          &-icons {
            display: flex;
            align-items: center;
            gap: 24px;
          }
          &-shop {
            font-family: "SF Pro Display 400";
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            gap: 8px;
            color: #ffffff;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            background-color: #52d116;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .fourth-nav {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          max-width: 12000px;
          width: 100%;
          height: 80px;
          display: none;
          .first-phone {
            display: flex;
            gap: 16px;
            align-items: center;
            &:hover svg > path {
              cursor: pointer;
              fill: $prime;
            }
            &-title {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &:hover .first-phone-title {
              cursor: pointer;
              color: $prime;
            }
          }
          .reklama {
            position: relative;
            max-width: 280px;
            width: 100%;
            height: 64px;
            border-radius: 8px;
            background: linear-gradient(90deg, #000 22.19%, #5e556b 100%);
            img {
              margin-left: 5px;
              border-radius: 8px;
            }
            &-title {
              position: absolute;
              top: 30%;
              z-index: 1111;
              color: #ffffff;
              left: 25%;
              font-family: "SF Pro Display 400";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .ass {
              position: absolute;
              top: 25%;
              z-index: 1111;
              right: 5%;
            }
          }
        }
      }
      .tablet-nav {
        max-width: 1189px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px 0;
        justify-content: space-between;
        &-left {
          display: flex;
          gap: 20px;
          align-items: center;
          img {
            margin-left: 0px;
          }
          .tablet-nav-search {
            display: flex;
            align-items: center;
            margin-left: 0px;
            max-width: 300px;
            width: 100%;
            input {
              width: auto;
              border: none;
              color: var(--03, #b7b7b7);
              font-family: "SF Pro Display 400";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              outline: none;
              padding: 5px 10px 5px 35px;
              background: transparent;
              width: 300px;

              &:focus {
                outline: 2px solid #d9ebf9;
                box-shadow: #d9ebf9;
                color: #000000;
                border-radius: 8px;
              }
            }
            .search-icon {
              margin-right: -27px;
            }
          }
        }
        .tablet-nav-right {
          display: flex;
          align-items: center;
          gap: 4px;
          a {
            color: var(--1, #100e0e);
            font-family: "SF Pro Display 400";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 40px;
          }
        }
      }
      .mobile-nav {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 4444;
    .container {
      .nav {
        padding: 4px 0;
        &__location {
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;

          &-left {
            display: flex;
            .nav__location-p {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-weight: 400;
              font-size: 16px;
              font-style: normal;
              line-height: normal;
            }
            .form {
              .nav__location-select {
                color: $prime;
                font-family: "SF Pro Display 400";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                outline: none;
                border: none;
              }
            }
          }
          &-right {
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }
        &__catalog {
          max-width: 1200px;
          width: 100%;
          height: 94px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;
          .nav__logo {
            margin-right: 36px;
          }
          .nav__list {
            display: flex;
            align-items: center;
            gap: 20px;
            &-item {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              height: 25px;
              display: flex;
              justify-content: center;
              &:hover {
                box-sizing: border-box;
                color: $prime;
                cursor: pointer;
                border-bottom: 2px solid $prime;
              }
            }
            .aksiya {
              border-radius: 8px;
              background: #fdefbf;
              padding: 2px 6px;
              &:hover {
                box-sizing: border-box;
                color: #000000;
                cursor: pointer;
                border-bottom: 0px solid #ffffff;
              }
            }
          }
          &-tel {
            display: flex;
            flex-direction: column;
            align-items: end;
            .tels {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-top: 15px;

              a {
                color: var(--1, #100e0e);
                font-family: "SF Pro Display 400";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
            .recall {
              color: $prime;
              font-family: "SF Pro Display 400";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .third-nav {
          max-width: 768px;
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;
          &-button {
            font-family: "SF Pro Display 400";
            padding: 16px 26px;
            background: $prime;
            border-radius: 16px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            color: #ffffff;
          }
          .search {
            position: relative;
            font-family: "SF Pro Display 400";
          }
          &-search {
            display: flex;
            width: 594px;
            height: 56px;
            background: #ffffff;
            border: 1px solid #1c75d5;
            border-radius: 8px;
            padding: 16px 60px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            &:focus {
              outline: 6px solid #d9ebf9;
              box-shadow: #d9ebf9;
              color: #000000;
            }
          }
          .input-search {
            position: absolute;
            z-index: 1111;
            top: 30%;
            left: 4%;
          }
          &-icons {
            display: flex;
            align-items: center;
            gap: 24px;
          }
          &-shop {
            font-family: "SF Pro Display 400";
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            gap: 8px;
            color: #ffffff;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            background-color: #52d116;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .fourth-nav {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          max-width: 12000px;
          width: 100%;
          height: 80px;
          display: none;
          .first-phone {
            display: flex;
            gap: 16px;
            align-items: center;
            &:hover svg > path {
              cursor: pointer;
              fill: $prime;
            }
            &-title {
              color: var(--1, #100e0e);
              font-family: "SF Pro Display 400";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &:hover .first-phone-title {
              cursor: pointer;
              color: $prime;
            }
          }
          .reklama {
            position: relative;
            max-width: 280px;
            width: 100%;
            height: 64px;
            border-radius: 8px;
            background: linear-gradient(90deg, #000 22.19%, #5e556b 100%);
            img {
              margin-left: 5px;
              border-radius: 8px;
            }
            &-title {
              position: absolute;
              top: 30%;
              z-index: 1111;
              color: #ffffff;
              left: 25%;
              font-family: "SF Pro Display 400";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .ass {
              position: absolute;
              top: 25%;
              z-index: 1111;
              right: 5%;
            }
          }
        }
      }
      .tablet-nav {
        display: none;
      }
      .mobile-nav {
        max-width: 768px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 32px;
        }
      }
    }
  }
}
